<% provide(:title, "Questions") %>

<%= render "layouts/nav_admin_top" %>

<div class="container-fluid">
  <div class="row">
    <%= render "layouts/nav_admin_left" %>
    <div class="col-lg-10 col-md-10 col-sm-10 cont-q">
      <div class="tab-cont-q">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li>
            <a href="#ans-q" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;<%= @answered_label %></a>
          </li>
          <li class="active">
            <a href="#uans-q" data-toggle="tab"><i class="fa fa-comments"></i>&nbsp;<%= @unanswered_label %></a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="ans-q">
            <%= render partial: "shared/question_list", :locals => { :questions => @close_questions, :label => "#{@answered_label}", :sort => "Newest first" } %>
          </div>
          <div class="tab-pane active" id="uans-q">
            <%= render partial: "shared/question_list", :locals => { :questions => @open_questions, :label => "#{@unanswered_label}", :sort => "Oldest first" } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>