<% provide(:title, "New Question") %>

<%= render "layouts/nav_admin_top" %>

<div class="container-fluid">
  <div class="row signup-row cont-q">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="tab-signup">
        <div class="tab-pane active" id="client-signup">
          <%= form_for @question, url: {action: "create"}, html: {class: "form-horizontal"} do |question_f| %>
            <%= render "shared/question_error_messages" %>
            <% if !signed_in? %>
              <%= render "shared/user_error_messages" %>
            <% end %>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.text_area :content, :class => "form-control", :placeholder => "Question" %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <hr>

            <% if !signed_in? %>
              <%= fields_for @user do |user_f| %>
                <div class="form-group">
                  <div class="col-sm-8">
                    <%= user_f.text_field :name, :class => "form-control", :placeholder => "Name" %>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8">
                    <%= user_f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8">
                    <%= user_f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8">
                    <%= user_f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
                  </div>
                  <div class="col-sm-4"></div>
                </div>

                <%= user_f.fields_for :detail do |detail_f| %>
                  <div class="form-group">
                    <div class="col-sm-8">
                      <%= detail_f.text_field :zipcode, :class => "form-control", :placeholder => "Zipcode" %>
                    </div>
                    <div class="col-sm-4"></div>
                  </div>
                <% end %>
                <div class="form-group">
                  <div class="col-sm-8">
                    <%= user_f.label :terms do %>
                      <%= user_f.check_box :terms %>
                      Accept <%= link_to 'Terms of Service', terms_path, :target => '_blank' %>.
                    <% end %>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
              <% end %>
            <% end %>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.label :animal_type, "What kind of animal do you have?" %>
                <%= question_f.select(:animal_type, [['Cat', 1], ['Dog', 2]], {}, :class => "form-control") %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.label :animal_age, "How old is your animal?" %>
                <%= question_f.select(:animal_age, [['less than one month', 1], ['1-3 months', 2], ['3 months-1 year', 3], ['1-3 years', 4], ['3-5 years', 5], ['5-8 years', 6], ['8 years-10 years', 7], ['10-15 years', 8], ['15+ years', 9]], {}, :class => "form-control") %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.label :medication, "Is your pet currently taking any medication?" %>
                <%=
                  question_f.select(
                    :medication,
                    [
                      ['Not Sure', ''],
                      ['No', 0],
                      ['Yes', 1]
                    ],
                    {},
                    {
                      :class => "form-control select_unsure",
                      :"data-text-id" => "question_medication_detail"
                    }
                  )
                %>
                <%=
                  question_f.text_area(
                    :medication_detail,
                    {
                      :id => "question_medication_detail",
                      :class => "form-control hidden",
                      :placeholder => "Please specify the medication(s)."
                    }
                  )
                %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.label :flea_preventives, "Is your pet currently on flea preventatives?" %>
                <%=
                  question_f.select(
                    :flea_preventives,
                    [
                      ['Not Sure', ''],
                      ['No', 0],
                      ['Yes', 1]
                    ],
                    {},
                    {
                      :class => "form-control select_unsure",
                      :"data-text-id" => "question_flea_preventives_detail"
                    }
                  )
                %>
                <%=
                  question_f.text_area(
                    :flea_preventives_detail,
                    {
                      :id => "question_flea_preventives_detail",
                      :class => "form-control hidden",
                      :placeholder => "What kind and when was the last time given?"
                    }
                  )
                %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.label :previous_medical_conditions, "Has your pet had any pre-existing medical conditions?" %>
                <%=
                  question_f.select(
                    :previous_medical_conditions,
                    [
                      ['Not Sure', ''],
                      ['No', 0],
                      ['Yes', 1]
                    ],
                    {},
                    {
                      :class => "form-control select_unsure",
                      :"data-text-id" => "question_previous_medical_conditions_detail"
                    }
                  )
                %>
                <%=
                  question_f.text_area(
                    :previous_medical_conditions_detail,
                    {
                      :id => "question_previous_medical_conditions_detail",
                      :class => "form-control hidden",
                      :placeholder => "Please specify the condition(s) and how long ago."
                    }
                  )
                %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <hr>

            <div class="form-group">
              <div class="col-sm-8">
                <%= question_f.text_area :feed_pet_detail, :class => "form-control", :placeholder => "What kind of food do you feed your pet?" %>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <%= question_f.submit "Post Question", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery("select.select_unsure").each(function () {
      if (jQuery(this).val() == 1) {
        jQuery('#' + jQuery(this).attr('data-text-id')).removeClass('hidden');
      } else {
        jQuery('#' + jQuery(this).attr('data-text-id')).val('');
        jQuery('#' + jQuery(this).attr('data-text-id')).addClass('hidden');
      }
    });

    jQuery("select.select_unsure").change(function () {
      jQuery('#' + jQuery(this).attr('data-text-id')).val('');
      if (jQuery(this).val() == 1) {
        jQuery('#' + jQuery(this).attr('data-text-id')).removeClass('hidden');
      } else {
        jQuery('#' + jQuery(this).attr('data-text-id')).addClass('hidden');
      }
    });
  });
</script>
