<% provide(:title, "Home") %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div> 
<% end %>

<link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="front-page">
  <%= render "layouts/nav" %>

  <div class="container ">
    <div id="home-bg"></div>

    <div id="vet-client-buttons" class="splash-header">

      <div class="row">
        <h2>I am a...</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="row" id="client-button">
            <button class="btn btn-success btn-xlg splash-button"> Pet Owner </button> 
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <div class="row" id="vet-button">
            <button class="btn btn-success btn-xlg splash-button"> <%= image_tag "tinyvet.png" %> Veterinary Expert </button>
          </div>
        </div>
      </div>
    </div>

    

    <div id="hidden-content">
      <!-- Client content -->
      <div id="client-content" class="row">
        <div class="col-xs-8 col-xs-offset-2">
        <%= form_tag(controller: "questions", action: "newpost") do %>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ask your question for free right here..." name="question">
            </div>
          
            <div class="form-group" style="text-align: center;">
          
              <button type="submit" class="btn btn-success">Ask Question</button>
        
            </div>
          </form>
        <% end %>
        </div>
      </div>

      <!-- Vet content -->
      <div id="vet-content">
        <div class="row">
        <!--
          <div class="col-sm-12">
            <img src="http://www.placehold.it/450x250&text=ActiveContent">
          </div>
        -->
          <div class="col-sm-4 col-sm-offset-4 active-content">
            <div class="row">
              <div class="col-sm-3">
                <%= image_tag(@active_content[0].user.avatar_url(:vet_avatar)) if @active_content[0].user.avatar? %>
              </div>
              <div class="col-sm-9">
                <div class="row answerer">
                  <%= image_tag "textvetred.png" %> <%=  link_to "Dr. #{@active_content[0].user.name}", user_show_path(@active_content[0].user.id) %>
                </div>
                <div class="row">
                  answered:
                </div>
                <div class="row active-question">
                  <%= link_to @active_content[0].question.content, question_show_path(@active_content[0].question.id) %>
                </div>
              </div>
            </div>
            <div class="row active-agreement">
              <% agreements = @active_content[0].agreements.count %>
              <%= pluralize agreements, "Vets" %> agree
              <% for i in (0...agreements) %>
                <%= image_tag(@active_content[0].agreements[i].from.avatar_url(:vet_tiny)) if @active_content[0].user.avatar? %>
              <% end %>
            </div>
          </div>
          
          
        </div>

        
          <div class="row tag-line">
                        
            <h2>Build your Virtual Practice</h2>
            <h2>For Free</h2>
            
          </div>
        

        <div class="row">
          <button class="btn btn-success btn-xlg">Sign Up</button>
        </div>

        <div class="content">
        <div class="container">
          <div class="row content-row1">
            <div class="cont-header text-center"><span>How does it work ? </span></div>
          </div>
          <div class="row content-row2">
            <div class="col-sm-4">
              <div class="cont-template">
                <div class="cont-icon"><i class="fa fa-info-circle"></i></div>
                <div class="cont-template-header">1. Answer questions from vets and clients</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cont-template">
                <div class="cont-icon"><i class="fa fa-comment-o"></i></div>
                <div class="cont-template-header">2. Build up your VetScore.</div>
                <p></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cont-template">
                <div class="cont-icon"><i class="fa fa-users"></i></div>
                <div class="cont-template-header">3. Get clients.</div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Vet content -->
    </div>

    <div class="top-vets-outline">
      <div class="top-vets">
        <div class="row">
          <h2>Top Vets</h2>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <% (1..5).each do |n| %>
            <div class="col-sm-2 ">
              <div class="avatar-wrapper">
                <!-- <%= image_tag(@active_content[0].user.avatar_url(:vet_avatar)) %> -->
                <%= cl_image_tag("about_brian.png", :width => 132, :height => 132, :crop => :fill, :radius => "max") %>
              </div>
              <div class="avatar-mask">
                <%= image_tag("avatar_mask.png") %>
              </div>

              <div class="top-vet-label">
                Dr. Brian Hur
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  </div>
</div>

<!--          
<%= cl_image_tag("about_brian.jpg", :width => 100, :height => 100, :crop => :fill, :radius => 20) %>
-->

<script>
$( "#vet-button" ).click(function() {
  $( "#vet-content" ).slideToggle( "slow" );
  $( "#vet-client-buttons" ).slideToggle( "slow" );
  $("#home-bg").addClass("faded-img");
  //$("#vet-content").addClass("removeThis"); //hide
});

$( "#client-button" ).click(function() {  
  $( "#client-content" ).slideToggle( "slow" );
  $( "#vet-client-buttons" ).slideToggle( "slow" );
});
</script>

<%= render "layouts/footer" %>