<% provide(:title, "Clients") %>

<%= render "layouts/nav_admin_top" %>

<div class="container-fluid">
  <div class="row">
    <%= render "layouts/nav_admin_left" %>
    <div class="col-lg-10 col-md-10 col-sm-10 cont-q">
      <div class="tab-cont-q">
        <div class="tab-content">
          <div class="tab-pane active" id="ans-q">
            <div class="tab-cont-head">
              <span>Clients</span>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="20%">Name</th>
                  <th width="60%">Email</th>
                  <th width="20%">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @clients.each do |client| %>
                  <tr>
                    <td><%= client.name %></td>
                    <td><%= client.email %></td>
                    <td>
                      <% if !client.enabled %>
                        <a class="btn btn-xs btn-success" href="<%= admin_enable_client_path(:id => client.id) %>">Enable</a>
                      <% else %>
                        <a class="btn btn-xs btn-danger" href="<%= admin_disable_client_path(:id => client.id) %>">Disable</a>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
