<% provide(:title, "Signup") %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div> 
<% end %>

<%= render "layouts/nav_admin_top" %>

<div class="container-fluid">
  <div class="row signup-row cont-q">
    <div class="col-lg-6 col-md-6 col-sm-6">

      <div class="tab-signup">
        <h2>Join Today</h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#doctor-signup" data-toggle="tab">Doctor</a></li>
          <li><a href="#client-signup" data-toggle="tab">Client</a></li>
          
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane active" id="doctor-signup">
            <%= form_for @user, url: {action: "create_vet"}, html: {class: "form-horizontal", id: "vet_new_user"} do |f| %>
              <%= render "shared/user_error_messages" %>

              <%= render partial: "shared/forms/fields_for_user", :locals => { :for_vet => true } %>
              
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.submit "Sign Up as Doctor", class: "btn btn-primary" %>
                </div>
              </div>
              <%= link_to "Already have an account?", login_path %>
              <p><small>Note - Your email and license number are confidential and will not be publicly visible</small></p>
            <% end %>

          </div>  
          <div class="tab-pane" id="client-signup">
            <%= form_for @user, url: {action: "create_client"}, html: {class: "form-horizontal", id: "client_new_user"} do |f| %>
              <%= render "shared/user_error_messages" %>
              <%= render "shared/forms/fields_for_user" %>

              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.submit "Sign Up as Pet Owner", class: "btn btn-primary" %>
                </div>
              </div>
              <%= link_to "Already have an account?", login_path %>
            <% end %>
          </div>
                  
        </div>
      </div>
    </div>
    
<!--    
    <div class="tab-content">
     <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="tab-pane active" id="doctor-signup">
        <h2>Benefits For You</h2>
        <div class="benefit-cont">
          <p>Gain new clients</p>
<li>Clients can request to book appointments</li>
<li>Have the history already created</li>
          <p>Enhance Your Reputation</p>
<li>Reach out to members in your community</li>
<li>Establish relationships outside of your office</li>
          <p>Earn credit for answer
<li>Patients can thank youPeers can agree with you</li>
<p>Connect with Top Doctors and Patients
<li>Round on topics with other doctors and patients</li>
<li>Agree with other doctors opinions</li>
          <p></p>
        </div>
      </div>
    </div>
    </div> 
-->
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function () {
    if (jQuery('#user_details_degree_select').val() === "Other") {
      jQuery('#user_details_degree_text_div').removeClass('hidden');
      jQuery('#user_details_degree_text').val('');
    } else {
      jQuery('#user_details_degree_text_div').addClass('hidden');
      jQuery('#user_details_degree_text').val(jQuery('#user_details_degree_select').val());
    }

    if (jQuery('#user_details_area_of_practice_select').val() === "Other") {
      jQuery('#user_details_area_of_practice_text_div').removeClass('hidden');
      jQuery('#user_details_area_of_practice_text').val('');
    } else {
      jQuery('#user_details_area_of_practice_text_div').addClass('hidden');
      jQuery('#user_details_area_of_practice_text').val(jQuery('#user_details_area_of_practice_select').val());
    }

    jQuery('#user_details_area_of_practice_select').change(function () {
      if (jQuery(this).val() === "Other") {
        jQuery('#user_details_area_of_practice_text_div').removeClass('hidden');
        jQuery('#user_details_area_of_practice_text').val('');
      } else {
        jQuery('#user_details_area_of_practice_text_div').addClass('hidden');
        jQuery('#user_details_area_of_practice_text').val(jQuery(this).val());
      }
    });

    jQuery('#user_details_degree_select').change(function () {
      if (jQuery(this).val() === "Other") {
        jQuery('#user_details_degree_text_div').removeClass('hidden');
        jQuery('#user_details_degree_text').val('');
      } else {
        jQuery('#user_details_degree_text_div').addClass('hidden');
        jQuery('#user_details_degree_text').val(jQuery(this).val());
      }
    });
  });

  $(function() {
        $("#tabs").tabs();
        $("#tabs").bind('tabsshow',function(event, ui) {
            window.location = ui.tab;
        })
    });
</script>

<%= render "layouts/footer" %>