<% provide(:title, "My Profile") %>

<%= render "layouts/nav_admin_top" %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <%= render "layouts/nav_admin_left" %>
    <div class="col-lg-10 col-md-10 col-sm-10 cont-q">
      <div class="div-profile">
        <% if current_user == @user %>
          <h2>My Profile</h2>
        <% else %>
          <h2><%= @user.name %>'s Profile</h2>
        <% end %>
        <div class="profile-cont">
          <% if @user.is_vet %>
            <div class="row profile-head">
              <div class="col-sm-3 col-lg-2">
                <div class="avatarV2 big" id="expertAvatar" style="<%= "background-image: url(#{@user.avatar_url(:vet_face)})" %>" >
                </div>
              </div>
              <div class="col-sm-9 col-lg-10">
                <div class="row">
                  <h1 class="expert-full-name">
                    Dr. <%= @user.name %>
                  </h1>
                </div>
                <div class="col-sm-10 col-lg-11 col-sm-push-2 col-lg-push-1">
                  <div class="expert_credentials">
                    <div class="expert-specialty">
                      <%= "#{@user.detail.degree} - #{@user.detail.area_of_practice}" %>
                    </div>
                    <div class="expert-specialty">
                      <%= @user.detail.veterinary_school %> (<%= @user.detail.veterinary_school_year %>)
                    </div>
                    <p class="expert-polis">
                    <span class="polis"><%= @user.detail.zipcode %></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-2 col-lg-1 col-sm-pull-10 col-lg-pull-11">
                  <div class="points-wrap" style="width : 80px" title="A doctor’s VetScore is a mesure of how much they have helped the community.">
                    <span class="points-segment"><%= @user.vet_score.to_s.chars[0] %></span><span class="points-segment"><%= @user.vet_score.to_s.chars[1] %></span>
                    <div class="vetscore-label">VetScore</div>
                    <div class="context-popup-member"></div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">

                <div class="col-sm-12">
                  <% if @user.agreed.count > 0 %>
                    <span class="btn btn-default btn-profile"><%= pluralize(@user.agreed.count, "Doctor Agreement") %>
                    </span>
                  <% end %>
                  <% if @user.thanked.count > 0 %>
                    <span class="btn btn-default btn-profile"><%= pluralize(@user.thanked.count, "Thank You Note") %>
                    </span>
                  <% end %>  
                </div>

                <div class="col-sm-12 profile-update">
                  <% if current_user == @user %>
                    <%= form_for current_user, url: {action: "update_user"}, :html => {:multipart => true}, :method => :POST do |f| %>
                      <%= render "shared/user_error_messages" %>
                      <p>
                        <label>My Photo</label>
                      </p>
                      <p>
                        <%= f.file_field :avatar %>
                        <%= f.hidden_field :id, :value => current_user.id %>
                      </p>
                      <p>
                        <%= f.submit "Upload Photo", class: "btn btn-primary" %>
                      </p>
                    <% end %>

                    <%= form_for current_user, url: {action: "update_user"}, :method => :POST do |f| %>
                      <%= render "shared/user_error_messages" %>
                      <p>
                        <%= f.hidden_field :id, :value => current_user.id %>
                        <label>Notify me when a new question is asked:</label>
                      </p>
                      <p>
                        <%= f.select :question_notification, options_for_select([["Never", "none"], ["Always", "all"], ["Only in my area", "nearby"]], :selected => current_user.question_notification) %> <%= f.submit "Save", class: "btn btn-primary" %>
                      </p>
                    <% end %>
                  <% end %>
                </div>


                <% if not current_user_is_vet? %>
                  <div class="col-sm-12 appt-button">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#appt-request-modal-">Request Appointment</button>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <% if @user.answers.count > 0 %>
                  <h3><%= pluralize(@user.answers.count, "Answered Question") %>:</h3>
                  <table id="answers-table">
                    <tr>
                      <th>Question</th>
                      <th>Thanks</th>
                    </tr>
                    <% @user.answers.each do |answer| %>
                      <% if current_user_is_vet? or not answer.question.is_consult %>
                        <tr>
                          <td>
                            <a href="<%= question_show_path(:id => answer.question.id) %>"><%= answer.question.content.truncate(250) %></a>
                          </td>
                          <td> 
                            <%= answer.thanks.count %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </table>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>Activity stream:</h3>
                <ul id="activity_stream">
                  <% @user.activity_stream.each do |item| %>
                    <li>
                      <% if item.is_a? Answer %>
                        <% if item.question.is_consult %>
                          <% if current_user_is_vet? %>
                            <b>Answered Consult</b> '<%= link_to(item.question.content, question_show_path(item.question.id)) %>'
                          <% else %>
                            <b>Answered Consult</b> 
                          <% end %>
                        <% else %>
                          <b>Answered</b> '<%= link_to(item.question.content, question_show_path(item.question.id)) %>'
                        <% end %>
                      <% elsif item.is_a? Thank %>
                        <b>Thank you</b> from <%= link_to(item.from.name, user_show_path(item.from.id)) %>: '<%= item.feedback %>'
                      <% elsif item.is_a? Agreement %>
                        <b>Agreement</b> from <%= link_to("Dr. #{item.from.name}", user_show_path(item.from.id)) %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-lg-4">Name</label>
                    <span class="col-lg-8"><%= @user.name %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                      <label class="col-lg-4">Email</label>
                      <span class="col-lg-8"><%= @user.email %></span>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-4">Zipcode</label>
                      <span class="col-lg-8"><%= @user.detail.zipcode %></span>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <label class="col-lg-4"><%= pluralize(@user.thanks.count, "Thank you", "Thank you's") %> given</label>
                  </div>
                </div>
              </div>
            </div>
            <% if current_user == @user %>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <a class="btn btn-primary" href="<%= questions_new_path %>" >Ask a Question</a>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <% if @user.questions.count > 0 %>
                  <h3><%= pluralize(@user.questions.count, "Question") %>:</h3>
                  <ol>
                    <% @user.questions.each do |question| %>
                      <li>
                        <a href="<%= question_show_path(:id => question.id)%>"><%= question.content.truncate(250) %></a>
                      </li>
                    <% end %>
                  </ol>
                <% end %>
              </div>
            </div>
          <% end %>
          <%= render partial: "shared/request_appointment_modal", :locals => { :answer_id => "", :vet_id => @user.id } %>
       </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>