<% provide(:title, "My Profile") %>

<%= render "layouts/nav_admin_top" %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <%= render "layouts/nav_admin_left" %>
    <div class="col-lg-10 col-md-10 col-sm-10 cont-q">
      <div class="div-profile">
        <% if current_user == @user %>
          <h2>My Profile</h2>
        <% else %>
          <h2><%= @user.name %>'s Profile</h2>
        <% end %>
        <div class="profile-cont">
          <%= image_tag(@user.avatar_url(:vet_photo)) if @user.avatar? %>
          <% if @user.is_vet %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-lg-4">Name</label>
                    <span class="col-lg-8">Dr. <%= @user.name %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                      <label class="col-lg-4">Email</label>
                      <span class="col-lg-8"><%= @user.email %></span>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <label class="col-lg-4">Area of Practice</label>
                    <span class="col-lg-8"><%= @user.detail.area_of_practice %></span>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-4">Zip Code</label>
                    <span class="col-lg-8"><%= @user.detail.zipcode %></span>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-4">Veterinary School</label>
                    <span class="col-lg-8"><%= @user.detail.vetinary_school %> (<%= @user.detail.vetinary_school_year %>)</span>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-4">Degree</label>
                    <span class="col-lg-8"><%= @user.detail.degree %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                    <label class="col-lg-4">License Number</label>
                    <span class="col-lg-8"><%= @user.detail.licence_number %> (<%= @user.detail.licence_state %>)</span>
                  </div>
                  <% end %>
                </div>

                <%= form_for current_user, url: {action: "update_image"}, :html => {:multipart => true}, :method => :POST do |f| %>
                  <p>
                    <label>My Photo</label>
                  </p>
                  <p>
                    <%= image_tag(@user.avatar_url(:vet_avatar)) if @user.avatar? %>
                  </p>
                  <p>
                    <%= f.file_field :avatar %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <%= f.submit "Upload picture", class: "btn btn-primary" %>
                      </div>
                    </div>
                  </p>
                <% end %>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <span class="btn btn-default btn-profile"><%= pluralize(@user.agreed.count, "Doctor Agreement") %>
                      </span>
                      <span class="btn btn-default btn-profile"><%= pluralize(@user.thanked.count, "Thank You Note") %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <% if current_user == @user %>
                  <h3>Your Answered Question</h3>
                <% else %>
                  <h3><%= @user.name %>'s Answered Question</h3>
                <% end %>
                <ol>
                  <% @user.answers.each do |answer| %>
                    <li>
                      <a href="<%= question_show_path(:id => answer.question.id) %>"><%= answer.question.content.truncate(250) %></a>
                    </li>
                  <% end %>
                </ol>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-lg-4">Name</label>
                    <span class="col-lg-8"><%= @user.name %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                      <label class="col-lg-4">Email</label>
                      <span class="col-lg-8"><%= @user.email %></span>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-4">Zipcode</label>
                      <span class="col-lg-8"><%= @user.detail.zipcode %></span>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <label class="col-lg-4"><%= pluralize(@user.thanks.count, "Thank you", "Thank you's") %> given</label>
                  </div>
                </div>
                <%= form_for current_user, url: {action: "update_image"}, :html => {:multipart => true}, :method => :POST do |f| %>
                  <p>
                    <label>My Photo</label>
                  </p>
                  <p>
                    <%= image_tag(@user.avatar_url(:vet_avatar)) if @user.avatar? %>
                  </p>
                  <p>
                    <%= f.file_field :avatar %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <%= f.submit "Upload picture", class: "btn btn-primary" %>
                      </div>
                    </div>
                  </p>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <% if current_user == @user %>
                  <h3>Your Questions</h3>
                <% else %>
                  <h3><%= @user.name %>'s Questions</h3>
                <% end %>
                <ol>
                  <% @user.questions.each do |question| %>
                    <li>
                      <a href="<%= question_show_path(:id => question.id)%>"><%= question.content.truncate(250) %></a>
                    </li>
                  <% end %>
                </ol>
              </div>
            </div>
          <% end %>
       </div>
    </div>
  </div>
</div>
