<% provide(:title, "My Profile") %>

<%= render "layouts/nav_admin_top" %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <%= render "layouts/nav_admin_left" %>
    <div class="col-lg-10 col-md-10 col-sm-10 cont-q">
      <div class="div-profile">
        <% if current_user == @user %>
          <h2>My Profile</h2>
        <% else %>
          <h2><%= @user.name %>'s Profile</h2>
        <% end %>
        <div class="profile-cont">
          <%= image_tag(@user.avatar_url(:vet_photo)) if @user.avatar? %>
          <% if @user.is_vet %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-lg-4">Name</label>
                    <span class="col-lg-8">Dr. <%= @user.name %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                      <label class="col-lg-4">Email</label>
                      <span class="col-lg-8"><%= @user.email %></span>
                      <small> (not publicly displayed) </small>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <label class="col-lg-4">Area of Practice</label>
                    <span class="col-lg-8"><%= @user.detail.area_of_practice %></span>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-4">Zip Code</label>
                    <span class="col-lg-8"><%= @user.detail.zipcode %></span>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-4">Veterinary School</label>
                    <span class="col-lg-8"><%= @user.detail.veterinary_school %> (<%= @user.detail.veterinary_school_year %>)</span>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-4">Degree</label>
                    <span class="col-lg-8"><%= @user.detail.degree %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                    <label class="col-lg-4">License Number</label>
                    <span class="col-lg-8"><%= @user.detail.license_number %> (<%= @user.detail.license_state %>)</span>
                    <small> (not publicly displayed) </small>
                  </div>
                  <% end %>
                </div>
                <% if current_user == @user %>
                  <%= form_for current_user, url: {action: "update_user"}, :html => {:multipart => true}, :method => :POST do |f| %>
                    <%= render "shared/user_error_messages" %>
                    <p>
                      <label>My Photo</label>
                    </p>
                    <p>
                      <%= image_tag(@user.avatar_url(:vet_avatar)) if @user.avatar? %>
                    </p>
                    <p>
                      <%= f.file_field :avatar %>
                      <%= f.hidden_field :id, :value => current_user.id %>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <%= f.submit "Upload Photo", class: "btn btn-primary" %>
                        </div>
                      </div>
                    </p>
                  <% end %>

                  <%= form_for current_user, url: {action: "update_user"}, :method => :POST do |f| %>
                    <%= render "shared/user_error_messages" %>
                    <div class="form-group">
                      <label class="col-lg-4">Notification settings</label>
                      <div class="col-sm-8">
                        <%= f.hidden_field :id, :value => current_user.id %>
                        <%= f.label :question_notification do %>
                          Notify me when a new question is asked:
                          <%= f.select :question_notification, options_for_select([["Never", "none"], ["Always", "all"], ["Only in my area", "nearby"]], :selected => current_user.question_notification) %>
                          <%= f.submit "Save", class: "btn btn-primary" %>
                        <% end %>
                      </div>
                      <div class="col-sm-4"></div>
                    </div>
                  <% end %>

                <% end %>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-lg-12">
	                  <% if @user.agreed.count > 0 %>
                          <span class="btn btn-default btn-profile"><%= pluralize(@user.agreed.count, "Doctor Agreement") %>
                      </span>
                      <% end %>
                      <% if @user.thanked.count > 0 %>
                          <span class="btn btn-default btn-profile"><%= pluralize(@user.thanked.count, "Thank You Note") %>
	                  <% end %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <% if @user.answers.count > 0 %>
                  <h3><%= pluralize(@user.answers.count, "Answered Question") %>:</h3>
                  <table id="answers">
                    <tr>
                      <th>Thanks</th>
                      <th>Question</th>
                    </tr>
                    <% @user.answers.each do |answer| %>
                      <tr>
                        <td> 
                          <%= answer.thanks.count %>
                        </td>
                        <td>
                          <a href="<%= question_show_path(:id => answer.question.id) %>"><%= answer.question.content.truncate(250) %></a>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>Activity stream:</h3>
                <ul id="activity_stream">
                  <% @user.activity_stream.each do |item| %>
                    <li>
                      <% if item.is_a? Answer %>
                        <b>Answered</b> '<%= link_to(item.question.content, question_show_path(item.question.id)) %>'
                      <% elsif item.is_a? Thank %>
                        <b>Thank you</b> from <%= link_to(item.from.name, user_show_path(item.from.id)) %>: '<%= item.feedback %>'
                      <% elsif item.is_a? Agreement %>
                        <b>Agreement</b> from <%= link_to("Dr. #{item.from.name}", user_show_path(item.from.id)) %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-lg-4">Name</label>
                    <span class="col-lg-8"><%= @user.name %></span>
                  </div>

                  <% if current_user == @user %>
                    <div class="form-group">
                      <label class="col-lg-4">Email</label>
                      <span class="col-lg-8"><%= @user.email %></span>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-4">Zipcode</label>
                      <span class="col-lg-8"><%= @user.detail.zipcode %></span>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <label class="col-lg-4"><%= pluralize(@user.thanks.count, "Thank you", "Thank you's") %> given</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <% if @user.questions.count > 0 %>
                  <h3><%= pluralize(@user.questions.count, "Question") %>:</h3>
                  <ol>
                    <% @user.questions.each do |question| %>
                      <li>
                        <a href="<%= question_show_path(:id => question.id)%>"><%= question.content.truncate(250) %></a>
                      </li>
                    <% end %>
                  </ol>
                <% end %>
              </div>
            </div>
          <% end %>
       </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>