<div class="col-md-6 col-md-offset-3 active-content-wrapper">
  <div id="my-carousel<%= carousel_id %>" class="carousel slide" data-ride="carousel">

    <!--
    <ol class="carousel-indicators">
      <li data-target="#my-carousel<%= carousel_id %>" data-slide-to="0" class="active"></li>
      <li data-target="#my-carousel<%= carousel_id %>" data-slide-to="1"></li>
      <li data-target="#my-carousel<%= carousel_id %>" data-slide-to="2"></li>
    </ol>
    -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      
      <div class="item active">
        <%= render partial: "shared/active_content", :locals => { :answer=> active_content[0]} %>
      </div>

      <div class="item">
        <%= render partial: "shared/active_content", :locals => { :answer=> active_content[1]} %>
      </div>

      <div class="item">
        <%= render partial: "shared/active_content", :locals => { :answer=> active_content[2]} %>
      </div>
    </div>
    <!-- Carousel nav -->
    <!--
    <a class="carousel-control left" href="#my-carousel<%= carousel_id %>" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#my-carousel<%= carousel_id %>" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    -->
  </div>
</div>