<nav class="navbar navbar-vetround" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
  
    <div class="col-lg-12">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">
        <span class="vet-home">Vet</span><span class="rounds-home">Rounds</span><br>
        <span class="tag-line">Helping Pets</span>
      </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">


        <% if !signed_in? %>
          <li><a href="<%= signup_url %>">Sign Up</a></li>
        <% else %>
          <li><a href="<%= user_show_path(:id => current_user.id) %>">My Profile</a></li>
        <% end %>

        <li>
          <% if signed_in? %>
            <a href="<%= logout_url %>" class="btn-login">Logout</a>
          <% else %>
            <a href="<%= login_url %>" class="btn-login">Login</a>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>
